In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import RFE

In [2]:
titanictrain=pd.read_csv('../Files/titanictrain.csv') 
titanictest=pd.read_csv('../Files/titanictest.csv')

In [3]:
titanictrain.head(5)

,plotPassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
pd.crosstab(index=titanictrain.Survived, columns=titanictrain.Pclass)

Pclass      1   2    3
Survived
0          80  97  372
1         136  87  119

In [5]:
titanictrain= pd.get_dummies(titanictrain, columns=["Pclass","Embarked","Sex"]) #split data into classified data

In [ ]:
titanictrain=titanictrain.dropna()

In [6]:
cols = ["Age","Fare","Pclass_1","Pclass_2","Embarked_C","Embarked_S","Sex_male"]

In [7]:
X = titanictrain[cols]
y = titanictrain['Survived']

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=2)

In [9]:
model = LogisticRegression()
rfe = RFE(model, 6)
rfe = rfe.fit(X_train, y_train)

C:\Users\Fabio\Anaconda3\envs\fabio\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Fabio\Anaconda3\envs\fabio\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [10]:
y_pred_test = rfe.predict(X_test)

In [11]:
y_test[y_test==y_pred_test].count()/len(y_test)

0.7857142857142857